# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\Aa\Documents\MEGA\MEGAsync Uploads\4to Año\Paradigmas V\Ejercicio clase 3\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
